# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# Next.js
.next/
out/

# Dependencies
node_modules/

# Build artifacts
tsconfig.tsbuildinfo

# OS
.DS_Store
